---
import { pwaInfo } from 'virtual:pwa-info'

import ReloadPrompt from '../components/ReloadPrompt.astro'

import Footer from '@/components/Footer.vue'
import NavBar from '@/components/NavBar.vue'

import { activePage, route, setActivePage } from '@/stores/routes'

setActivePage(Astro.url.href)

const { description: pageDesc, label: pageLabel } = activePage.get()
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href={route('resources/static/img/logo/favicon.ico')} />
    <link
      rel="alternate icon"
      href={route('resources/static/img/logo/favicon-16x16.png')}
      type="image/png"
      sizes="16x16"
    />
    <link rel="apple-touch-icon" href={route('resources/static/img/logo/apple-touch-icon.png')} sizes="180x180" />
    <link rel="mask-icon" href={route('resources/static/img/logo/safari-pinned-tab.svg')} color="#5bbad5" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="generator" content={Astro.generator} />
    <title>Panahon - {pageLabel} - Manila Observatory</title>
    <meta name="description" content={pageDesc} />
    <script
      type="text/partytown"
      src={`https://www.googletagmanager.com/gtag/js?id=${import.meta.env.GA_MEASUREMENT_ID}`}></script>
    <script type="text/partytown">
    window.dataLayer = window.dataLayer || []
    function gtag() {
      dataLayer.push(arguments)
    }
    gtag('js', new Date())
    gtag('config', import.meta.env.GA_MEASUREMENT_ID)
    </script>
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <div class="fixed inset-0 bg-gray-700/30" aria-hidden="true"></div>
    <div class="flex justify-center items-center">
      <div class="max-w-screen-2xl flex flex-col w-full select-none h-screen">
        <NavBar client:load class="z-10" />
        <div class="bg-gray-700 text-gray-200 flex-1 overflow-y-auto z-0">
          <slot />
        </div>
        <Footer class="z-10" />
        <ReloadPrompt />
      </div>
    </div>
  </body>
</html>

<script>
  import { $user } from '@/stores/auth'
  import { activePage, basePath, route, setActivePage } from '@/stores/routes'

  setActivePage(location.href)

  const { auth, to } = activePage.get()
  const { isLoggedIn } = $user.get()

  if (auth && !isLoggedIn) {
    location.href = route(`login?ref=${to.replace(basePath, '')}`)
  } else if (to === route('login') && isLoggedIn) {
    location.href = route()
  }
</script>
