---
import { pwaAssetsHead } from 'virtual:pwa-assets/head'
import { pwaInfo } from 'virtual:pwa-info'

import ReloadPrompt from '@/components/ReloadPrompt.astro'
import CookieConsent from '@/components/CookieConsent.astro'
import Footer from '@/components/Footer.astro'
import NavBar from '@/components/NavBar.vue'

const gaMeasurementID = import.meta.env.GA_MEASUREMENT_ID

const navMode = 'default' // default, alternate

const { description: pageLabel, label: pageDesc } = Astro.locals.page
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panahon - {pageLabel} - Manila Observatory</title>
    <meta name="description" content={pageDesc} />
    {pwaAssetsHead.themeColor && <meta name="theme-color" content={pwaAssetsHead.themeColor.content} />}
    {pwaAssetsHead.links.map((link) => <link {...link} />)}
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script src="/src/pwa.ts"></script>
    <script src={`https://www.googletagmanager.com/gtag/js?id=${gaMeasurementID}`} is:inline></script>
    <script define:vars={{ gaMeasurementID }}>
      window.dataLayer = window.dataLayer || []

      window.gtag = function gtag() {
        dataLayer.push(arguments)
      }

      window.gtag('js', new Date())
      window.gtag('consent', 'default', {
        ad_storage: 'denied',
        ad_user_data: 'denied',
        ad_personalization: 'denied',
        analytics_storage: 'denied',
      })
      window.gtag('config', gaMeasurementID)
    </script>
  </head>
  <body class="fixed inset-0 bg-gray-700/30" aria-hidden="true">
    <!-- moved gray background to body itself -->
    <div class="flex justify-center items-center">
      <div class="max-w-screen-2xl flex flex-col w-full select-none h-screen">
        <!-- uses vue components from ./components folder -->
        <NavBar mode={navMode} client:load />
        <div class="bg-gray-700 text-gray-200 flex-1 overflow-y-auto z-0">
          <slot />
          <!-- slot for code within .astro file which uses layout -->
        </div>
        <Footer class="z-50" />
        <CookieConsent />
        <ReloadPrompt />
      </div>
    </div>
  </body>
</html>
